<div style="background-color: rgb(46, 73, 160)">
  <h2 style="color: white">Book Reviews</h2>
  <mat-form-field class="example-form-field">
    <mat-label>Book title</mat-label>
    <input matInput type="text" [formControl]="formControlTitle" [matAutocomplete]="autoTitles" [(ngModel)]="bookTitle">
    <mat-autocomplete #autoTitles="matAutocomplete">
      <mat-option *ngFor="let option of filteredTitleOptions | async" [value]="option">
        {{option}}
      </mat-option>
    </mat-autocomplete>
    <button *ngIf="bookTitle" matSuffix mat-icon-button aria-label="Clear" (click)="bookTitle=''">
      <mat-icon>close</mat-icon>
    </button>
  </mat-form-field>
  
  <mat-form-field class="example-form-field">
    <mat-label>Book author</mat-label>
    <input matInput type="text" [(ngModel)]="bookAuthor" [formControl]="formControlAuthor" [matAutocomplete]="autoAuthors">
    <mat-autocomplete #autoAuthors="matAutocomplete">
      <mat-option *ngFor="let option of filteredAuthorOptions | async" [value]="option">
        {{option}}
      </mat-option>
    </mat-autocomplete>
    <button *ngIf="bookAuthor" matSuffix mat-icon-button aria-label="Clear" (click)="bookAuthor=''">
      <mat-icon>close</mat-icon>
    </button>
  </mat-form-field>

  <mat-form-field class="example-form-field">
    <mat-label>Rating</mat-label>
    <input matInput type="number" [(ngModel)]="bookRating">
    <button *ngIf="bookRating" matSuffix mat-icon-button aria-label="Clear" (click)="bookRating=undefined">
      <mat-icon>close</mat-icon>
    </button>
  </mat-form-field>

  <mat-form-field class="example-form-field" appearance="fill">
    <mat-label>Genre</mat-label>
    <mat-select [(ngModel)]="bookGenre" name="genre">
      <mat-option *ngFor="let genre of genreOptions" [value]="genre.value">
        {{genre.viewValue}}
      </mat-option>
    </mat-select>
    <button *ngIf="bookGenre" matSuffix mat-icon-button aria-label="Clear" (click)="bookGenre=undefined">
      <mat-icon>close</mat-icon>
    </button>
  </mat-form-field>

  <mat-form-field class="example-form-field" appearance="fill">
    <mat-label>Published after</mat-label>
    <input matInput [matDatepicker]="picker">
    <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
    <mat-datepicker #picker></mat-datepicker>
  </mat-form-field>


  <br>
  <button mat-raised-button (click)="search()">Search</button>
  <button mat-button style="float:right; margin-right: 20px;"(click)="loadData()">Load Data into Database</button>
</div>
<div *ngIf="loading">
  <mat-progress-bar mode="indeterminate"></mat-progress-bar>
</div>
<table mat-table [dataSource]="sortedBooks || []" class="mat-elevation-z8" matSort (matSortChange)="sortData($event)" multiTemplateDataRows >
  <ng-container matColumnDef="title" >
    <th mat-header-cell *matHeaderCellDef mat-sort-header> Title </th>
    <td mat-cell *matCellDef="let element"> {{element?.title}} </td>
  </ng-container>
  <ng-container matColumnDef="author">
    <th mat-header-cell *matHeaderCellDef mat-sort-header>Author</th>
    <td mat-cell *matCellDef="let element"> {{element?.author}} </td>
  </ng-container>
  <ng-container matColumnDef="average_rating">
    <th mat-header-cell *matHeaderCellDef mat-sort-header>Rating</th>
    <td mat-cell *matCellDef="let element"> {{element?.average_rating}} </td>
  </ng-container>
  <ng-container matColumnDef="genre">
    <th mat-header-cell *matHeaderCellDef mat-sort-header>Genre</th>
    <td mat-cell *matCellDef="let element"> {{element?.genre}} </td>
  </ng-container>
  <ng-container matColumnDef="description">
    <th mat-header-cell *matHeaderCellDef>Description</th>
    <td mat-cell *matCellDef="let element"> {{element?.description}} </td>
  </ng-container>
  <ng-container matColumnDef="price">
    <th mat-header-cell *matHeaderCellDef mat-sort-header>price</th>
    <td mat-cell *matCellDef="let element"> {{element?.price}} {{element?.currency}} </td>
  </ng-container>
  <ng-container matColumnDef="publication_date">
    <th mat-header-cell *matHeaderCellDef>publication_date</th>
    <td mat-cell *matCellDef="let element"> {{element?.publication_date}} </td>
  </ng-container>
  <ng-container matColumnDef="expand">
    <th mat-header-cell *matHeaderCellDef aria-label="row actions">&nbsp;</th>
    <td mat-cell *matCellDef="let element">
      <button mat-icon-button aria-label="expand row" (click)="(expandedReview = expandedReview === element ? null : element); $event.stopPropagation()">
        <mat-icon *ngIf="expandedReview !== element">keyboard_arrow_down</mat-icon>
        <mat-icon *ngIf="expandedReview === element">keyboard_arrow_up</mat-icon>
      </button>
    </td>
  </ng-container>
  <ng-container matColumnDef="expandedDetail">
    <td mat-cell *matCellDef="let element" [attr.colspan]="sortedBooks.length">
      <div class="example-element-detail"
           [@detailExpand]="element == expandedReview ? 'expanded' : 'collapsed'">
        <div class="example-element-diagram">
          <div class="example-element-name"> {{element.review}} </div>
        </div>
      </div>
    </td>
  </ng-container>
  <tr mat-header-row *matHeaderRowDef="displayedColumnsWithExpand"></tr>
  <tr mat-row *matRowDef="let element; columns: displayedColumnsWithExpand;"
      class="example-element-row"
      [class.example-expanded-row]="expandedReview === element"
      (click)="expandedReview = expandedReview === element ? null : element; getReview(element.book_id)">
  </tr>
  <tr mat-row *matRowDef="let row; columns: ['expandedDetail']" class="example-detail-row"></tr>
</table>
<mat-paginator id="footer" *ngIf="showPagination"
              (page)="handlePageEvent($event)"
              [length]="pageLength"
              [pageSize]="pageSize"
              [pageSizeOptions]="pageSizeOptions"
              aria-label="Select page">
</mat-paginator>
