<div style="background-color: green">
  <h2>Book Reviews</h2>
  <mat-form-field class="example-form-field">
    <mat-label>Book title</mat-label>
    <input matInput type="text" [(ngModel)]="bookTitle">
    <button *ngIf="bookTitle" matSuffix mat-icon-button aria-label="Clear" (click)="bookTitle=''">
      <mat-icon>close</mat-icon>
    </button>
  </mat-form-field>
  
  <mat-form-field class="example-form-field">
    <mat-label>Book author</mat-label>
    <input matInput type="text" [(ngModel)]="bookAuthor">
    <button *ngIf="bookAuthor" matSuffix mat-icon-button aria-label="Clear" (click)="bookAuthor=''">
      <mat-icon>close</mat-icon>
    </button>
  </mat-form-field>

  <br>
  <button mat-button (click)="search()">Search</button>
</div>
<table mat-table [dataSource]="books || []" class="mat-elevation-z8">
  <ng-container matColumnDef="title">
    <th mat-header-cell *matHeaderCellDef> Title </th>
    <td mat-cell *matCellDef="let element"> {{element?.title}} </td>
  </ng-container>
  <ng-container matColumnDef="author">
    <th mat-header-cell *matHeaderCellDef>Author</th>
    <td mat-cell *matCellDef="let element"> {{element?.author}} </td>
  </ng-container>
  <ng-container matColumnDef="rating">
    <th mat-header-cell *matHeaderCellDef>Rating</th>
    <td mat-cell *matCellDef="let element"> {{element?.rating}} </td>
  </ng-container>
  <ng-container matColumnDef="review">
    <th mat-header-cell *matHeaderCellDef>Review</th>
    <td mat-cell *matCellDef="let element"> {{element?.review}} </td>
  </ng-container>
  <ng-container matColumnDef="review_url">
    <th mat-header-cell *matHeaderCellDef>Review URL</th>
    <a mat-flat-button mat-cell *matCellDef="let element"[href]="element?.review_url" mat-menu-item target="_blank">{{element?.review_url}}</a>
  </ng-container>
  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
</table>
