<div style="background-color: green">
  <h2>Book Reviews</h2>
  <mat-form-field class="example-form-field">
    <mat-label>Book title</mat-label>
    <input matInput type="text" [(ngModel)]="bookTitle">
    <button *ngIf="bookTitle" matSuffix mat-icon-button aria-label="Clear" (click)="bookTitle=''">
      <mat-icon>close</mat-icon>
    </button>
  </mat-form-field>
  
  <mat-form-field class="example-form-field">
    <mat-label>Book author</mat-label>
    <input matInput type="text" [(ngModel)]="bookAuthor">
    <button *ngIf="bookAuthor" matSuffix mat-icon-button aria-label="Clear" (click)="bookAuthor=''">
      <mat-icon>close</mat-icon>
    </button>
  </mat-form-field>

  <br>
  <button mat-button (click)="search()">Search</button>
</div>
